/* to target id use # */
body {
  font: "Montserrat";
}

#title {
  background-color: #ef8172;
  color: #fff;
}

h1 {
  font-family: "Montserrat-Bold";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 50px;
}
h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
h3 {
  font-family: "Montserrat-Bold";
}
p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
  height: 900px;
  overflow: hidden;
}
.navbar {
  margin-bottom: 3rem;
  padding: 0 0 3.5rem;
}
.navbar-brand {
  font-size: 3rem;
  font-family: "Ubuntu";
  font-weight: 500;
}
.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat-light";
}
/* .btn-light {
  background-color: palevioletred;
} */
.img {
  /* height: 800px; */
  width: 80%;
  transform: rotate(20deg);
  margin: 2rem;
  /* z-index: -1; */
}
/* .text-margin
{
  margin:  ;
} */

#features {
  text-align: center;
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
.fe {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: palevioletred;
}

#testimonials {
  /* padding: 7% 10%; */
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.Testimg {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 10%;
}
.btnsign {
  width: 90%;
}
/* .rp{
  padding: 3% 3% 10%; 
} */

#pricing {
  padding: 100px;
}
.prcl {
  padding: 3% 2%;
  text-align: center;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .img {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ef8172;
  padding: 5% 10%;
  text-align: center;
  
  /* h3 {
    font-size: 2rem;
  } */
  /* font-size: 3rem; */
}
.ctah{
  font-size: 3rem;
  color: #fff;
  font-family: "Montserrat-Black";
  line-height: 1.5;
  margin: 2.5rem ;
  margin-bottom: 4rem;
}
#footer{
  text-align: center;
  padding: 4% 8%;
}
.faa{
  margin:1rem;
  width: 2rem;
}

